<!DOCTYPE html>
<html>
  <head>
    <title>LoginWithSocialAccount</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="signin-container">
        <%= render partial: 'layouts/msg'%>
        <%= yield %><br>
      </div>
    </div>
  </body>
</html>
